/*
  If you get stuck, feel free to watch the follow-up videos where I'll show you one solution
*/

/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: 1.25em;
	margin-bottom: 1.8em;
}

h2,
h3,
a {
	color: #093a58;
}

h2,
h3,
h4 {
	margin-top: 0;
}

h4 {
	font-weight: 600;
	margin-bottom: .5em;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

figure {
	margin: 0;
	line-height: 0;
	position: relative;
}

figcaption {
	font-size: .9em;
	line-height: 1.5;
	color: #fff;
	padding: 1em;
	background: rgba(19, 43, 102, .85);
	position: absolute;
	bottom: 0;
	width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.5em;
  	margin: 0;
}

.main-nav {
  margin-top: 5px;
}

.name a,
.main-nav a {
	text-align: center;
  	display: block;
	  /* padding: 10px 15px; */
	padding-left: 10px;
}

.fag-icon {
	width: 40px;
	height: 40px;
	display: inline-block;
	border-radius: 50%;
	margin-top: 30px;
}

.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
  width: 100%;
}

.main-nav a:hover {
	color: #093a58;
}

.main-nav li {
  padding: 1em;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
	position: fixed;
	background: #fff;
	box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
	width: 100%;
	top: 0;
	z-index: 1000;
}

.banner,
.main-footer {
	text-align: center;
}

.banner {
	height: 700px;
	color: #fff;
	background: linear-gradient(0deg, #242525, transparent 80%),
				#242525 url('../img/bloodborne.png') no-repeat center;
	background-size: cover;
	padding: 3.2em 0;
	margin-bottom: 60px;
}

.article-header{
	max-width: 1150px;
	margin: 0 auto;
}

.col {
	padding-right: 1em;
	padding-left: 1em;
}

.container {
	width: 80%;
	max-width: 1150px;
	margin: 0 auto;
}

.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
	text-align: center;
}

/* ---- Page Elements ---- */

.logo {
	margin-top: 1em;
	width: 190px;
}

.headline {
  margin-top: 450px;
  margin-bottom: -0.2em;
  font-size: 52px;
}

.tagline {
	font-style: italic;
}

.intro {
	font-weight: bold;
	text-transform: uppercase;
}

.meat {
	color: #3acec2;
	text-decoration: none;
}

.meat:hover {
	color: #093a58;
}

/* ================================= 
  Positioning Styles
==================================== */



/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {

	body {
		padding-top: 68px;
	}

	.main-header {
		position: fixed;
		background: #fff;
		box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
		width: 100%;
		top: 0;
		z-index: 1000;
	}

	.container {
		width: 100%;
		margin: 0 auto;
	}

	.fag-icon,
	.name {
		margin: .7em 0 .7em;
	}

	.fag-icon,
	.name{
		float: left;
	}

	.primary {
		width: 100%;
		margin: 0 auto;
		text-align: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		display: inline-block;
		margin-left: 15px;
	}

	.tagline {
		font-size: 1.4em;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}

@media (min-width: 1025px) {

	.container {
		width: 100%;
		max-width: 1150px;
	}

	.primary {
		width: 80%;
	}

	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}

}